.outerBlock
{
    width: 100%;
    text-align: center;
    margin: auto;
}
.mainBlock
{
    width: 50%;
    background: #FFF;
    margin: 0 auto;
    position:relative;
    //display: inline-block;
    //margin: 14px 14px 0 14px;
    padding: 10px 15px;
    //background: #FFF;
    //min-height: 300px;
    border-radius: 5px;
    border: 1px solid #c9e1f4;
    text-align: center;
    
}
.registrationInput
{
    //width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
    text-align: left;
    right: auto;
    width: 250px;
    height: 30px; 
}
.button
{
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 5px;
    width: 250px;
    height: 30px;
    text-align: center;    
}
.header
{
    width: 100%;
    text-align: center;
    margin: auto;
}
.menu
{
    width: 50%;
    background: #FFF;
    margin: 0 auto;
    position:relative;
}
.menu ul
{
    margin: 0; 
    padding: 0;
    //float: left;
}
 
.menu ul li
{
    display: inline;
}
 
.menu ul li a
{
    //float: left; 
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #FFF; 
}
.menu ul li a:hover, .menu ul li .current
{
    color: #fff;
    background-color:#ccc;
}

/*ul
{
    list-style-type:none;
    margin:5px;
    padding:5px;
}
li
{
    display:inline;
    //border-right: 2px solid;
    text-align:center;
    width:80px;
    padding:10px;
    margin:0px;
    color:black
}*/

